
$orange: rgb(247, 224, 206);
$red: rgb(192, 75, 75);
$blue: rgba(183, 153, 196, 0.8);
$gray-500: rgb(48, 112, 177);
$yellow: rgb(238, 206, 107);
$green: rgb(146, 197, 214);
$cyan: rgba(23, 162, 184, 0.74);
$body-color: rgb(124, 124, 124);
$body-bg: rgb(241, 241, 241);
$link-color: rgb(168, 124, 184);